<!DOCTYPE html>
<html>
  <head>
    <title>Highcharts Example</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <div>
      <label for="surveySelect">Select a Survey:</label>
      <select id="surveySelect"></select>
      <button id="viewButton">View</button>
    </div>
    <div id="chartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const surveySelect = document.getElementById('surveySelect');
        const viewButton = document.getElementById('viewButton');

        // Fetch survey data and populate the dropdown
        fetch('http://127.0.0.1:8000/get_all_surveys/')
          .then(response => response.json())
          .then(data => {
            const surveysArray = JSON.parse(data.surveys);

            surveysArray.forEach((survey, index) => {
              const option = document.createElement('option');
              option.value = survey.pk;
              option.text = survey.fields.name;
              surveySelect.appendChild(option);
            });
          })
          .catch(error => {
            console.error('Error retrieving survey data:', error);
          });

        // View button click event
        viewButton.addEventListener('click', function () {
          const selectedSurveyId = surveySelect.value;

          // Fetch chart data for the selected survey
          fetch(`http://127.0.0.1:8000/survey/chart/${selectedSurveyId}`)
            .then(response => response.json())
            .then(chartData => {
              const chartConfig = {
                chart: {
                  type: 'line',
                  renderTo: 'chartContainer'
                },
                title: {
                  text: chartData.name
                },
                xAxis: {
                  categories: chartData.question_text,
                  title: {
                    text: 'Questions'
                  }
                },
                yAxis: {
                  title: {
                    text: 'Choices'
                  }
                },
                series: chartData.choice_text.map((choices, index) => ({
                name: `Question ${index + 1}`,
                data: choices
                 }))
              };

              // Render the chart
              new Highcharts.Chart(chartConfig);
            })
            .catch(error => {
              console.error('Error retrieving chart data:', error);
            });
        });
      });
    </script>
  </body>
</html>
